body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 100vw;
    display:flex;
    justify-content: center;
}
tr{
    display: block;
    margin:30;
}
h1{
    text-transform: uppercase;
}